---
// const { title } = Astro.props

import MainHead from './MainHead.astro';

// interface Props {
// 	title?: string;
// 	description?: string;
// }

// const { title='default title', description='default description' } = Astro.props as Props
const { title='default title', description='default description' } = Astro.props

// style import
import "../styles/global.css"
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
---

<html lang="en">
	<MainHead {title} {description} />
	<body>
		<Nav />
		<slot>Default Text</slot>
		<Footer />
	</body>
</html>
